<%- include('../../fragments/header.ejs') %>

    <script
    type="application/javascript"
    src="/js/validationCommon.js"
  ></script>
  <script
    type="application/javascript"
    src="/js/validationSczegolyZamowienia.js"
  ></script>

    <main>
      <h2>Nowe zamowienie</h2>
      <form class="form" novalidate onsubmit="return validateForm();">
        <label for="cenaZamowienia">Cena zamowienia: <span class="symbol-required">*</span></label>
        <input
          type="number"
          name="cenaZamowienia"
          id="cenaZamowienia"
          required
        />
        <span id="errorCenaZamowienia" class="error-text"></span>

        <label for="znizkaNaZamowienie">Zniżka: </label>
        <input
          type="number"
          name="znizkaNaZamowienie"
          id="znizkaNaZamowienie"
        />
        <span id="errorZnizkaNaZamowienie" class="error-text"></span>

        <label for="iloscZamowien">Ilość: <span class="symbol-required">*</span></label>
        <input type="number" name="iloscZamowien" id="iloscZamowien" required />
        <span id="errorIloscZamowien" class="error-text"></span>

        <label for="komientarzyDoZamowienia">Komientarzy: </label>
        <input
          type="text"
          name="komientarzyDoZamowienia"
          id="komientarzyDoZamowienia"
        />
        <span id="errorKomientarzyDoZamowienia" class="error-text"></span>
        <div class="form-buttons">
          <p id="errorsSummary" class="error-text"></p>
          <input type="submit" value="Dodaj" class="form-button-submit" />
          <a href="" class="form-button-cancel">Anuluj</a>
        </div>
      </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
