<%- include('../../fragments/header.ejs') %>

    <main>
      <h2>Klient</h2>
      <form class="form">
      <label for="dataZamowienia">Data zamowienia:</label>
      <input
        type="date"
        name="dataZamowienia"
        id="dataZamowienia"
        value="2021-04-05"
        disabled
      />
      <span></span>

      <label for="firstName">Imie:</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        value="Kamil"
        disabled
      />
      <span></span>

      <label for="lastName">Nazwisko:</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        value="Petrow"
        disabled
      />
      <span></span> 

      <label for="deliveryAdres">Adres dostawy:</label>
      <input
        type="text"
        name="deliveryAdres"
        id="deliveryAdres"
        value="Powsinska 45"
        disabled
      />
    </form>
      <p><a href="/order/edit/:orderId" class="list-actions-button-edit">Edytuj</a></p>

      <h2>Szczególy zamowienia</h2>

      <table class="table-list">
        <thead>
          <tr>
            <th>Nazwa produktu</th>
            <th>Cena</th>
            <th>Znika</th>
            <th>Illość</th>
            <th>Komentarzy</th>
            <th>Kod towaru</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IPhone 13 Pro Max</td>
            <td>5600</td>
            <td>5.0</td>
            <td>1</td>
            <td>Jak możno szybczej</td>
            <td>56387874</td>
          </tr>
        </tbody>
      </table>

      <p><a href="../" class="list-actions-button-details">Powrót</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
