
<%- include('../../fragments/header.ejs') %>
    <script
      type="application/javascript"
      src="/js/validationCommon.js"
    ></script>
    <script
      type="application/javascript"
      src="/js/validationZamowienieForm.js"
    ></script>
    <main>
      <h2>Edycja zamowienia</h2>
      <form class="form" novalidate onsubmit="return validateForm();">
        <label for="dataZamowienia"
          >Data zamowienia: <span class="symbol-required">*</span></label
        >
        <input
          type="date"
          name="dataZamowienia"
          id="dataZamowienia"
          value="2000-01-01"
          required
        />
        <span id="errorDataZamowienia" class="error-text"> </span>

        <label for="firstName"
          >Imie: <span class="symbol-required">*</span></label
        >
        <input
          type="text"
          name="firstName"
          id="firstName"
          value="Jan"
          required
        />
        <span id="errorFirstName" class="error-text"> </span>

        <label for="lastName"
          >Nazwisko: <span class="symbol-required">*</span></label
        >
        <input
          type="text"
          name="lastName"
          id="lastName"
          value="Kowalski"
          required
        />
        <span id="errorLastName" class="error-text"> </span>

        <label for="deliveryAdres"
          >Adres dostawy: <span class="symbol-required">*</span></label
        >
        <input
          type="text"
          name="deliveryAdres"
          id="deliveryAdres"
          value="Koszykowa 13"
          required
        />
        <span id="errorDeliveryAdres" class="error-text"> </span>
        <div class="form-buttons">
          <p id="errorsSummary" class="error-text"></p>
          <input type="submit" value="Dodaj" class="form-button-submit" />
          <a href="/order" class="form-button-cancel">Anuluj</a>
        </div>
      </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
