<%- include('../../fragments/header.ejs') %>

    <main>
      <h2>Lista zamówień</h2>
      <table class="table-list">
        <thead>
          <tr>
            <th>Data</th>
            <th>Imie klienta</th>
            <th>Nazwisko klienta</th>
            <th>Adres dostawy</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>05.04.2021</td>
            <td>Kamil</td>
            <td>Petrow</td>
            <td>Powsinska 45</td>
            <td>
              <ul class="list-actions">
                <li>
                  <a href="/pages/SczegolyZamowienia/szegolyZamowienia.html" class="list-actions-button-details"
                    >Szczegóły</a
                  >
                </li>
                <li>
                  <a href="/pages/Zamowienie/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                </li>
                <li>
                  <a href="" class="list-actions-button-delete ">Usuń</a>
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>10.07.2021</td>
            <td>Maks</td>
            <td>Ivanow</td>
            <td>Zlota 11</td>
            <td>
              <ul class="list-actions">
                <li>
                  <a href="/pages/SczegolyZamowienia/szegolyZamowienia.html" class="list-actions-button-details"
                    >Szczegóły</a
                  >
                </li>
                <li>
                  <a href="/pages/Zamowienie/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                </li>
                <li>
                  <a href="" class="list-actions-button-delete ">Usuń</a>
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>27.09.2021</td>
            <td>Ola</td>
            <td>Makeewa</td>
            <td>Korolewa 67</td>
            <td>
              <ul class="list-actions">
                <li>
                  <a href="/pages/SczegolyZamowienia/szegolyZamowienia.html" class="list-actions-button-details"
                    >Szczegóły</a
                  >
                </li>
                <li>
                  <a href="/pages/Zamowienie/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                </li>
                <li>
                  <a href="" class="list-actions-button-delete">Usuń</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <p><a href="/pages/Zamowienie/form.html" class="button-add">Dodaj nowe zamowienie</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
