<%- include('../../fragments/header.ejs') %>

    <main>
      <h2>Lista zamówień</h2>
      <p>Brak rekordów do wyświetlenia</p>
      <p><a href="/order/add" class="button-add">Dodaj nowe zamowienie</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
