<%- include('../../fragments/header.ejs') %>

    <script
      type="application/javascript"
      src="/js/validationCommon.js"
    ></script>
    <script
      type="application/javascript"
      src="/js/validationProduktyForm.js"
    ></script>
    <main>
      <h2>Nowy produkt</h2>
      <form class="form" novalidate onsubmit="return validateForm();">
        <label for="nazwaProduktu">Nazwa produktu: <span class="symbol-required">*</span></label>
        <input type="text" name="nazwaProduktu" id="nazwaProduktu" class="error-input" required />
        <span id="errorNazwaProduktu" class="error-text">Pole jest wymagane</span>

        <label for="opisProduktu">Opis: </label>
        <input type="text" name="opisProduktu" id="opisProduktu"/>
        <span id="errorOpisProduktu" class="error-text"></span>

        <label for="kodProduktu">Kod towaru: <span class="symbol-required">*</span></label>
        <input type="number" name="kodProduktu" id="kodProduktu" class="error-input" required />
        <span id="errorKodProduktu" class="error-text">Pole jest wymagane</span>

        <div class="form-buttons">
          <p id="errorsSummary" class="error-text">Formularz zawiera bledy</p>
          <input type="submit" value="Dodaj" class="form-button-submit" />
          <a href="" class="form-button-cancel">Anuluj</a>
        </div>
      </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
