<%- include('../../fragments/header.ejs') %>

    <main>
      <h2>Lista produktów</h2>
      <p>Brak rekordów do wyświetlenia</p>
      <p><a href="" class="button-add">Dodaj nowy produkt</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
