<td>
    <ul class="list-actions">
      <li>
        <a href="/products/details/:prodId" class="list-actions-button-details"
          >Szczegóły</a
        >
      </li>
      <li>
        <a href="/products/edit/:prodId" class="list-actions-button-edit">Edytuj</a>
      </li>
      <li>
        <a href="" class="list-actions-button-delete">Usuń</a>
      </li>
    </ul>
  </td>